<?xml version="1.0"?>
<config>
	<modules>
		<Setansu_Loginwith>
			<version>1.0.0</version>
		</Setansu_Loginwith>
	</modules>
	<global>
		<models>
			<loginwith>
				<class>Setansu_Loginwith_Model</class>
			</loginwith>
		</models>
		<blocks>
			<loginwith>
				<class>Setansu_Loginwith_Block</class>
			</loginwith>
		</blocks>
		<helpers>
			<loginwith>
				<class>Setansu_Loginwith_Helper</class>
			</loginwith>
		</helpers>
		<resources>
			<loginwith_setup>
				<setup>
					<module>Setansu_Loginwith</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</loginwith_setup>
			<loginwith_write>
				<connection>
					<use>core_write</use>
				</connection>
			</loginwith_write>
			<loginwith_read>
				<connection>
					<use>core_read</use>
				</connection>
			</loginwith_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<loginwith before="Mage_Customer">Setansu_Loginwith</loginwith>
					</modules>
				</args>
			</customer>
		</routers>
		<layout>
			<updates>
				<loginwith>
					<file>loginwith.xml</file>
				</loginwith>
			</updates>
		</layout>
	</frontend>
</config>